@charset "UTF-8";

/*orisontal*/

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: url(../imagens/horizontal.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}   