@charset "UTF-8";

/*vertical*/

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(../imagens/vertical.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}