@charset "UTF-8";

/*PC*/


body{
    background-image: url(../imagens/background-pc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    img#cels{
        display: none;
    }

    img#tabs{
        display: none;
    }

    img#notes{
        display: none;
    }

    img#pcs{
        width: 50px;
        height: 50px;
    }

    img#tvs{
        display: none;
    }
}